Repository critocrito/dashp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --parser json --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "git add"],
  "*.json": ["prettier --parser json --write", "git add"],
  ".{babel,lintstaged,nyc}rc": ["prettier --parser json --write", "git add"]
}

chore(package): Moved babel plugins from dependencies to devDependencies.
  package.json
Due: prettier --parser json --write

chore: changed supported node version to 6
  .babelrc
  .travis.yml
Due: prettier --parser json --write

refactor: declare runtime checks with a decorator
  src/Future.js
  src/caught.js
  src/collect.js
  src/compose.js
  src/flatmap.js
  src/fold.js
  src/internal/checkTypes.js
  src/internal/curry.js
  src/tap.js
  src/when.js
  test/checkTypes.spec.js
Due: eslint --fix

feat: support curried function signatures of up to 10 arguments
  src/internal/curry.js
  test/curry.spec.js
Due: eslint --fix

refactor: switch to checkTypes for flow
  src/flow.js
Due: eslint --fix

feat: provide variants of flow with up to 8 arguments
  Readme.md
  src/api.js
  src/flow.js
  test/flow.spec.js
Due: eslint --fix

feat: expanded collect to handle up to 8 parallel promise resolutions
  Readme.md
  src/api.js
  src/collect.js
  test/collect.spec.js
Due: eslint --fix

feat: expanded flatmap to handle up to 8 parallel promise resolutions
  Readme.md
  src/api.js
  src/flatmap.js
  test/flatmap.spec.js
Due: eslint --fix

chore: fixed capitalization in release script
  package.json
Due: prettier --parser json --write

chore(release): bumped to version 0.10.0
  Changelog.md
  package.json
Due: prettier --parser json --write

fix: fixed main entrypoint
  package.json
Due: prettier --parser json --write

chore(release): bumped to version 0.10.1
  Changelog.md
  package.json
Due: prettier --parser json --write

fix(package): add missing flowconfig file
  .flowconfig
Due: none

chore(package): update build-chores to 0.9.0
  .flowconfig
  package.json
  yarn.lock
Due: prettier --parser json --write

chore: deprecate node 6
  .travis.yml
  package.json
Due: prettier --parser json --write

chore(package): update standard-version to version 5.0.2
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(package): update sinon to version 7.2.7 (#17)
  package.json
  yarn.lock
Due: prettier --parser json --write

chore: update in-range dependency to 2.0.0
  package.json
  test/delay.spec.js
  test/retry.spec.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write

fix: prettier formatting
  src/when.js
Due: eslint --fix

chore: build for node 8, 10 and 12 on travis
  .travis.yml
Due: none

refactor: removed runtime type checking
  package.json
  src/Future.js
  src/caught.js
  src/collect.js
  src/compose.js
  src/flatmap.js
  src/flow.js
  src/fold.js
  src/internal/checkTypes.js
  src/tap.js
  src/when.js
  test/all.js
  test/caught.js
  test/check-types.js
  test/collect.js
  test/compose.js
  test/flatmap.js
  test/flow.js
  test/fold.js
  test/future.js
  test/tap.js
  test/when.js
Due: eslint --fix, prettier --parser json --write

refactor: deprecate build-chores/eslint and mange linting local
  .eslintrc.json
  .prettierignore
  .prettierrc
  benchmarks/all.suite.js
  package.json
  src/retry.js
  src/tap.js
  test/_helpers.js
  test/all.js
  test/clone.js
  test/collect.js
  test/compose.js
  test/constant.js
  test/curry.js
  test/delay.js
  test/flatmap.js
  test/flatten.js
  test/flow.js
  test/fold.js
  test/future.js
  test/identity.js
  test/is-promise.js
  test/lift.js
  test/of.js
  test/reject.js
  test/retry.js
  test/spread.js
  test/tap.js
  test/when.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write

refactor: deprecate build-chores/build and mange compiling locally
  package.json
  yarn.lock
Due: prettier --parser json --write

feat: add retry5
  src/api.js
  src/retry.js
  test/retry.js
Due: eslint --fix

chore(release): bumped to version 0.11.0
  Changelog.md
  package.json
Due: prettier --parser json --write

chore: upgrade babel stack to 7.12.*
  package.json
  yarn.lock
Due: prettier --parser json --write

chore: upgrade test stack
  package.json
  test/all.js
  test/clone.js
  test/collect.js
  test/compose.js
  test/constant.js
  test/curry.js
  test/flatmap.js
  test/flatten.js
  test/flow.js
  test/fold.js
  test/future.js
  test/identity.js
  test/is-promise.js
  test/lift.js
  test/of.js
  test/reject.js
  test/spread.js
  test/tap.js
  test/when.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write

chore: upgrade lint stack
  .eslintrc.json
  package.json
  src/Future.js
  src/api.js
  src/compose.js
  test/caught.js
  test/compose.js
  test/flow.js
  test/future.js
  test/retry.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write

chore: add the unicorn eslint plugin
  .eslintrc.json
  benchmarks/all.suite.js
  package.json
  src/all.js
  src/api.js
  src/caught.js
  src/collect.js
  src/compose.js
  src/constant.js
  src/delay.js
  src/flow.js
  src/fold.js
  src/future.js
  src/internal/clone.js
  src/internal/curry.js
  src/internal/flatten.js
  src/internal/throw.js
  src/retry.js
  src/spread.js
  src/tap.js
  src/when.js
  test/_helpers.js
  test/caught.js
  test/collect.js
  test/curry.js
  test/flatmap.js
  test/flatten.js
  test/future.js
  test/of.js
  test/retry.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write

chore: replace build-chores wrapper with wrapped packages
  commitlint.config.js
  lint-staged.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --parser json --write

chore: remove unused flowconfig file
  .flowconfig
Due: none

chore: switch to Github actions
  .github/workflows/ci.yml
  Readme.md
Due: none

chore: remove node 8 from ci
  .github/workflows/ci.yml
Due: none

chore: fix error in actions file
  .github/workflows/ci.yml
Due: none

chore: remove greenkeeper badge
  Readme.md
Due: none

chore: fix path to lcov report for ci
  .github/workflows/ci.yml
Due: none

chore: fix path to nyc command in ci
  .github/workflows/ci.yml
Due: none

chore: increase minimum node version
  package.json
Due: prettier --parser json --write
