Repository critocrito/dashp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --parser json --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "git add"],
  "*.json": ["prettier --parser json --write", "git add"],
  ".{babel,lintstaged,nyc}rc": ["prettier --parser json --write", "git add"]
}

chore: test:coverage is default and handle coverag finish in ci
  .github/workflows/ci.yml
  .gitignore
  package.json
Due: prettier --parser json --write

chore: fix path to lcov file in ci
  .github/workflows/ci.yml
Due: none

chore: minor shuffle with the build scripts
  package.json
Due: prettier --parser json --write

chore: removed unused travis configuration
  .travis.yml
Due: none

chore: add tooling for typescript
  .babelrc
  .eslintrc.json
  .github/workflows/ci.yml
  .gitignore
  .huskyrc
  .nycrc
  .prettierrc
  benchmarks/.eslintrc.json
  benchmarks/all.suite.js
  benchmarks/curry.suite.js
  commitlint.config.js
  package.json
  test/_helpers.js
  test/_helpers.ts
  test/tap.js
  ts/cjs.tsconfig.json
  ts/es.tsconfig.json
  ts/types.tsconfig.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --parser json --write

refactor: rewrite isPromise in Typescript
  src/internal/is.js
  src/internal/is.ts
  src/internal/namefn.js
  src/internal/namefn.ts
  src/is-promise.ts
  test/is-promise.ts
Due: eslint --fix

chore: watch sources and tests for type correctness
  package.json
Due: prettier --parser json --write

refactor: type future type combinators
  package.json
  src/future.js
  src/future.ts
  test/future.ts
  yarn.lock
Due: eslint --fix, prettier --parser json --write

chore: increase width of source code to 100 character
  package.json
  src/all.js
  src/api.js
  src/collect.js
  src/flatmap.js
  src/flow.js
  src/future.ts
  src/internal/clone.js
  src/internal/is.ts
  src/internal/throw.js
  src/retry.js
  src/when.js
  test/_helpers.ts
  test/all.js
  test/caught.js
  test/clone.js
  test/collect.js
  test/compose.js
  test/constant.js
  test/flatmap.js
  test/flatten.js
  test/flow.js
  test/fold.js
  test/future.ts
  test/identity.js
  test/is-promise.ts
  test/lift.js
  test/of.js
  test/reject.js
  test/retry.js
  test/spread.js
  test/tap.js
  test/when.js
Due: eslint --fix, prettier --parser json --write

refactor: move the base future operations and compose to typescript
  src/compose.js
  src/compose.ts
  src/future.ts
  src/internal/curry.js
  src/internal/curry.ts
  src/internal/namefn.ts
  src/internal/types.ts
  test/_helpers.ts
  test/curry.js
  test/future.ts
Due: eslint --fix

refactor: type the all combinator
  src/all.js
  src/all.ts
  test/all.ts
Due: eslint --fix

chore: exclusively use prettier for linting
  .eslintrc.json
Due: prettier --parser json --write

chore: test watcher works now
  package.json
Due: prettier --parser json --write

fix: clean up types for all combinator
  src/all.ts
Due: none

refactor: move the constant combinator to typescript
  src/constant.js
  src/constant.ts
  test/constant.ts
Due: eslint --fix

chore: upgrade build dependencies
  package.json
  yarn.lock
Due: prettier --parser json --write

chore: type check the delay combinator
  src/delay.js
  src/delay.ts
  test/delay.ts
Due: eslint --fix

chore: upgrade time-span dependency
  package.json
  yarn.lock
Due: prettier --parser json --write

refactor: type check reject combinator
  src/reject.ts
  test/reject.ts
Due: none

fix: reject combinator accepts a string as well
  src/reject.ts
Due: none

refactor: type check retry combinator
  src/internal/is.ts
  src/retry.ts
  test/retry.ts
Due: none

refactor: type check flow combinator
  src/flow.js
  src/flow.ts
  src/internal/types.ts
  test/_helpers.ts
  test/flow.js
Due: eslint --fix

refactor: type check the caught combinator
  src/caught.js
  src/caught.ts
  test/caught.ts
Due: eslint --fix

refactor: type check tap combinators
  src/tap.js
  src/tap.ts
  test/tap.ts
Due: eslint --fix

test: type check more unit tests
  test/clone.ts
  test/compose.ts
  test/identity.ts
  test/of.ts
Due: none

refactor: type check lift combinator
  src/lift.ts
  test/lift.ts
Due: none

refactor: cleaning up some types
  src/all.ts
  src/internal/curry.ts
  src/internal/namefn.ts
  src/internal/types.ts
  src/retry.ts
Due: none

refactor(curry): modify types
  src/internal/curry.ts
Due: none

refactor(spread): add types
  src/spread.js
  src/spread.ts
  test/spread.ts
Due: eslint --fix
